.top-bar {
  width: 100vw;
  box-shadow: 0 4px 15px 0 rgba(150, 150, 150, 0.25);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  background: var(--primary-background);
  color: var(--primary-font-color);
  position: fixed;
  top: 0;
  z-index: 9999;
  padding-bottom: .5rem;

  & .top-bar-header {
    line-height: 1rem;
  }

  & .p-inputtext {
    background-color: var(--input-background);
    border-width: 0;
    border-radius: var(--border-radius);
    height: 3rem;
    font-size: 1.2rem;
    color: var(--primary-font-color);
    outline: none;
  }

  & .material-icons-round {
    font-size: 2rem;
    line-height: 3rem;
    transition: color .2s ease-in;
  }

  & .chapter-button {
    background: var(--button-background);
    border-radius: 90px;
    height: 3rem;
    width: 3rem;
    transition: background .2s ease-in;
  }

  & .active-chapter {
    background: var(--button-active-background);
  }

  & .active-icon {
    color: var(--button-active-color);
  }
}